.App {
	width: 100%;
	height: 100%;
	display: grid;
	row-gap: 35px;
	padding: 16px;
	place-items: center;
}

@media screen and (min-width: 768px) {
	.App {
		padding: 35px 100px;
	}
}

.App-contentPlaceholder {
	height: 200px;
	width: 100%;
	max-width: 900px;
	background-color: #ccc;
	border-radius: 8px;
}
body {
	font-family: 'Lato', sans-serif;
	background-image: linear-gradient(to right, #051421, #042727);
}

#menu {
	margin-bottom: 20px;
	margin-top: 30px;
	padding-left: 10px;
}
#menu button {
	margin: 10px;
	background-color: purple;
	font-weight: 500;
	color: white;
	border-radius: 1in;
}

.bar-group .name-label {
	text-anchor: end;
	font-weight: 300;
	font-size: 0.7em;
	fill: white;
}

.bar-group .value-label {
	text-anchor: end;
	fill: #fff;
	font-weight: 400;
	font-size: 0.7em;
}

.bar-group:hover rect {
	opacity: 0.8 !important;
}

.bar-group:hover .name-label {
	font-weight: 500;
}
.main {
	margin-top: 20px;
}
.custome {
	margin-bottom: 10px;
	width: 100ps;
}
.border-image {
	border: 1px solid #fff;
}
.progress {
	display: flex;
	height: 2rem;
	overflow: hidden;
	font-size: 0.75rem;
	background-color: #cacccf;
	border-radius: unset;
	margin-top: 5px;
}
.progress-bar {
	background-color: #00ff00;
}
.label {
	color: #fff;
	margin: 6px;
	/* text-align: center; */
	font-size: 15px;
}
.progress-bar-container {
	margin-top: 10px;
}
.MinPlayer-video video {
	border-radius: unset !important;
}
.MinPlayer-video {
	border-radius: unset !important;
}
.MiniPlayer-videoBox {
	border-radius: unset !important;
}
.MiniPlayer {
	border-radius: unset !important;
}
